cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
Cython==0.28.4
docutils==0.14
eyeD3==0.8.7
google-api-python-client==1.7.4
google-auth==1.5.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
httplib2==0.18.0
idna==2.7
Kivy==1.10.1
Kivy-Garden==0.1.4
oauthlib==2.1.0
pathlib==1.0.1
Pillow==5.2.0
py-lru-cache==0.1.4
pyasn1==0.4.3
pyasn1-modules==0.2.2
pygame==1.9.4
Pygments==2.2.0
python-magic==0.4.15
requests==2.19.1
requests-oauthlib==1.0.0
rsa==3.4.2
six==1.11.0
spotipy==2.4.4
SQLAlchemy==1.2.10
uritemplate==3.0.0
urllib3==1.23
youtube-dl==2018.7.10
